div(style='padding:0;margin:0;' v-if='!dataLoad && invData !== null')
    table(width='100%' style="background-color:#ffffff;color:#000;border-radius:5px;" cellpadding='20' cellspacing='0')
        tbody
            tr
                td(height='50px' align='left')
                    img(src='http://roadioapp.com/images/roadioapp_logo_dark.png', width='200', alt='Logo')
            tr
                td
                    table(width='100%' align='center' cellspacing='0' style='font-family:"Helvetica","Arial",sans-serif')
                        tbody
                            tr
                                td(style="border-left: 3px solid #fcd519;padding-left: 10px;")
                                    h4 Invoice From:
                                        br
                                        | RoadioApp
                                    a noreply@roadioapp.com
                            tr
                                td
                                    div(style="padding: 5px;")
                            tr
                                td(style="border-left: 3px solid #fcd519;padding-left: 10px;")
                                    h4 Invoice To:
                                        br
                                        | #{ client_data.first_name+" "+client_data.last_name }
                                    a= client_data.email
                            tr
                                td(colspan='2' style="text-align:right;border-right: 3px solid #fcd519;padding-right: 10px;")
                                    h4 Date: #{ inv_data.createdAt }
                                    h4 Invoice #: #{ inv_data.invoice_no }
                            tr
                                td
                                    div(style="padding: 5px;")
                            tr
                                td(style='width:50%;vertical-align: top;')
                                    table(width='100%' align='center')
                                        thead
                                            tr
                                                th(colspan='2' style="border: 2px solid;")
                                                    h4(style="margin: 0;padding: 10px;text-align: left;") Driver Details
                                        tbody
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Name
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ driver_data.first_name+" "+driver_data.last_name }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Email
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ driver_data.email }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Mobile No.
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ driver_data.mob_no }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Vehicle
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ driver_data.vehicle }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Vehicle Number
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ driver_data.v_number }
                                td(style='width:50%;vertical-align: top;')
                                    table(width='100%' align='center')
                                        thead
                                            tr
                                                th(colspan='2' style="border: 2px solid;")
                                                    h4(style="margin: 0;padding: 10px;text-align: left;") Request Details
                                        tbody
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Created Request
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ req_data.createdAt }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Origin
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ req_data.orgText }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Destination
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ req_data.desText }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Vehicle Required
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ req_data.vecType }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Est. Time
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ req_data.durText }
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | Est. Distance
                                                td(style="border: 2px solid;padding: 5px;text-align:left;")
                                                    | #{ req_data.disText }
                            tr
                                td
                                    div(style="padding: 5px;")
                            tr
                                td(colspan='2')
                                    table(width='100%' align='center')
                                        thead
                                            tr
                                                th(style="border: 2px solid;")
                                                    h4(style="margin: 0;padding: 10px;text-align: center;") Order Details
                                                th(style="border: 2px solid;min-width: 150px;width: auto;")
                                                    h4(style="margin: 0;padding: 10px;text-align: center;") Amount
                                        tbody
                                            tr
                                                td(style="border: 2px solid;padding: 5px;text-align:right;") From(#{ req_data.orgText }) To(#{ req_data.desText }) User(#{ client_data.first_name }) Driver(#{ driver_data.first_name })
                                                td(style="border: 2px solid;padding: 5px;") Rs.#{ inv_data.amount }
                            tr
                                td
                                    div(style="padding: 10px;")
                            tr
                                td
                                    div(style="padding: 5px;")
                            tr
                                td(style="border-left: 3px solid #fcd519;padding-left: 10px;")
                                    h4 Email:&nbsp;
                                        a info@roadioapp.com
                            tr
                                td
                                    div(style="padding: 5px;")
                            tr
                                td(style="border-left: 3px solid #fcd519;padding-left: 10px;")
                                    h4 Website:&nbsp;
                                        a(href="https://www.roadioapp.com") www.roadioapp.com