extends ./../layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            h1
                | Drivers&nbsp;
                small Drivers List
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
                li.active Drivers
        section.content
            .row
                .col-xs-12
                    .box
                        .box-header
                            h3.box-title Drivers
                            .box-tools.text-right
                                button.btn.btn-sm.btn-success
                                    a(href='/admin/drivers/add_driver', style='color:white')
                                        i.fa.fa-plus
                        box-body.table-responsive
                            if typeof data !== "undefined" && Object.keys(data).length > 0
                                table.table.table-hover.table-click#example1
                                    thead
                                        tr
                                            th S.No#
                                            th Driver Name
                                            th Driver Email
                                            th Mobile#
                                            th CNIC#
                                            if(user_type == "driver")
                                                th Address
                                                th City
                                            th Vehicle Type
                                            th Created Time
                                            th Action
                                    tbody
                                        - var i = 0;
                                        each val, key in data
                                            - i++
                                            tr(data-url="/admin/drivers/profile/"+key)
                                                td #{i}
                                                td #{val.first_name} #{val.last_name}
                                                td #{val.email}
                                                td #{val.mob_no}
                                                td
                                                if(user_type == "driver")
                                                    td
                                                    td
                                                td #{val.vehicle}
                                                td #{val.time}
                                                td
                                                    a.btn.btn-success.btn-xs(href='') Activate
                            else
                                h3.text-danger.text-center No User Found!
                        //if Object.keys(data).length > 0
                        //    .box-footer
                        //        .row
                        //            .col-xs-offset-9.col-xs-3
                        //                .btn-group.btn-group-justified
                        //                    a.btn.btn-default
                        //                        i.fa.fa-arrow-left
                        //                    a.btn.btn-default 1
                        //                    a.btn.btn-default 1
                        //                    a.btn.btn-default 1
                        //                    a.btn.btn-default 1
                        //                    a.btn.btn-default
                        //                        i.fa.fa-arrow-right
                        //                h5.text-right Page 4


