extends ./../layouts/dashboard_layout

block content
    aside.right-side
        section.content-header
            if request == "completed"
                h1 Completed Requests
            else if request == "pending"
                h1 Pending Requests
            else
                h1 New Requests
            ol.breadcrumb
                li
                    a(href='/')
                        i.fa.fa-dashboard
                        |  Dashboard
                li Deliveries
                li New Requests
        section.content
            if request == "completed"
                .row
                    .col-xs-12
                        .box
                            .box-header
                                ul.nav.nav-tabs(role='tablist')
                                    li.active(role='tablist')
                                        a(href='#today' aria-controls='home' role='tab' data-toggle='tab') Today
                                    li(role='tablist')
                                        a(href='#week' aria-controls='home' role='tab' data-toggle='tab') Week
                                    li(role='tablist')
                                        a(href='#month' aria-controls='home' role='tab' data-toggle='tab') All
                            .box-body
                                div.tab-content
                                    div.tab-pane.active#today(role='tabpanel')
                                        div.table-responsive
                                            table.table.table-hover#example3
                                                thead
                                                    tr
                                                        th S.No#
                                                        th Origin
                                                        th Destination
                                                        th Distance
                                                        th Duration
                                                        th Parcel
                                                        th Vehicle Type
                                                tbody
                                                    - var i = 0;
                                                    each val in today
                                                        - i++;
                                                        tr
                                                            td= i
                                                            td #{val.createdAt}
                                                            td #{val.orgText}
                                                            td #{val.desText}
                                                            td #{val.disText}
                                                            td #{val.durText}
                                                            td= val.vecType
                                    div.tab-pane#week(role='tabpanel')
                                        div.table-responsive
                                            table.table.table-hover#example2
                                                thead
                                                    tr
                                                        th S.No#
                                                        th Origin
                                                        th Destination
                                                        th Distance
                                                        th Duration
                                                        th Parcel
                                                        th Vehicle Type
                                                tbody
                                                    - var i = 0;
                                                    each val in weekly_data
                                                        - i++;
                                                        tr
                                                            td= i
                                                            td #{val.createdAt}
                                                            td #{val.orgText}
                                                            td #{val.desText}
                                                            td #{val.disText}
                                                            td #{val.durText}
                                                            td= val.vecType
                                    div.tab-pane#month(role='tabpanel')
                                        div.table-responsive
                                            table.table.table-hover#example1
                                                thead
                                                    tr
                                                        th S.No#
                                                        th Date
                                                        th Origin
                                                        th Destination
                                                        th Distance
                                                        th Duration
                                                        th Vehicle Type
                                                tbody
                                                    - var i = 0;
                                                     each val in all
                                                        - i++;
                                                        tr
                                                            td= i
                                                            td #{val.createdAt}
                                                            td #{val.orgText}
                                                            td #{val.desText}
                                                            td #{val.disText}
                                                            td #{val.durText}
                                                            td= val.vecType
            else if request == "pending"
                .row
                    .col-xs-12
                        div.table-responsive
                            table.table.table-hover#example4
                                thead
                                    tr
                                        th S.No#
                                        th Origin
                                        th Destination
                                        th Distance
                                        th Duration
                                        th Parcel
                                        th Vehicle Type
                                tbody
                                    tr
                                        td 12
                                        td saddar
                                        td gulshan
                                        td 12Km
                                        td 30 mins
                                        td package
                                        td car
            else
                .row
                    .col-xs-12
                        #map
                        script.
                            function initMap() {
                                var uluru = {lat: -25.363, lng: 131.044};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 4,
                                    center: uluru
                                });
                                var marker = new google.maps.Marker({
                                    position: uluru,
                                    map: map
                                });
                            }
                        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCeDfncmN-9FXb-1Gv4wcRpDWZ4AUnrqws&callback=initMap')

                    .col-xs-12
                        div.table-responsive
                            table.table.table-hover#example6
                                thead
                                    tr
                                        th S.No#
                                        th Origin
                                        th Destination
                                        th Distance
                                        th Duration
                                        th Parcel
                                        th Vehicle Type
                                        th Action
                                tbody
                                    tr
                                        td 12
                                        td saddar
                                        td gulshan
                                        td 12Km
                                        td 30 mins
                                        td package
                                        td car
                                        td
                                            a(href='', data-toggle='modal',data-target='#push_modal').btn.btn-primary.btn-sm Push job
                // Modal
                #push_modal.modal.fade.bs-example-modal-lg(role='dialog')
                    .modal-dialog.modal-lg
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Push Job
                            .modal-body
                                .col-xs-12
                                    div.table-responsive
                                        table.table.table-striped#example7
                                            thead
                                                tr
                                                    th S.No#
                                                    th Driver Name
                                                    th Vehicle Type
                                                    th Jobs
                                                    th Station
                                                    th status
                                                    th Action
                                            tbody
                                                tr
                                                    td 12
                                                    td Ahmed
                                                    td Mazda
                                                    td 23
                                                    td Gizri
                                                    td Online
                                                    td
                                                        a(href='').btn.btn-primary.btn-xs Push Job
                            .modal-footer
                                button.btn.btn-default(type='button', data-dismiss='modal') Close

